absl-py==2.1.0
addict==2.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
alabaster==0.7.16
albucore==0.0.23
albumentations==2.0.4
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
async-timeout==5.0.1
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
boto3==1.36.18
botocore==1.36.18
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chumpy==0.66
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.1
crcmod==1.7
cryptography==44.0.1
cycler==0.12.1
Cython==3.0.12
dask==2025.2.0
deepdiff==8.2.0
docker-pycreds==0.4.0
docutils==0.20.1
easyocr==1.7.2
exceptiongroup==1.2.2
filelock==3.14.0
filterpy==1.4.5
flake8==7.1.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gdown==4.7.3
gitdb==4.0.12
GitPython==3.1.44
google-measurement-protocol==1.1.0
grpcio==1.70.0
h5py==3.12.1
hdbscan==0.8.40
huggingface-hub==0.28.1
hydra-core==1.3.2
idna==3.10
ImageHash==4.3.2
imageio==2.37.0
imagesize==1.4.1
imgaug==0.4.0
importlib_metadata==8.6.1
iniconfig==2.0.0
inquirerpy==0.3.4
isort==6.0.0
Jinja2==3.1.5
jmespath==0.10.0
joblib==1.4.2
json-tricks==3.17.3
kiwisolver==1.4.8
kornia==0.6.3
lap @ git+https://github.com/TrackingLaboratory/lap@6ec997bc248656e9e5247532bdb8e80e13038004
lazy_loader==0.4
lightning==2.2.5
lightning-utilities==0.12.0
llvmlite==0.44.0
lmdb==1.6.2
locket==1.0.0
lsq-ellipse==2.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.4
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mmcv==2.0.0rc4
mmdet==3.1.0
mmengine==0.10.6
mmocr==1.0.1
mmpose==1.3.2
model-index==0.1.11
monai==1.4.0
motmetrics==1.4.0
mpmath==1.3.0
multidict==6.1.0
munkres==1.1.4
myst-parser==2.0.0
narwhals==1.27.1
networkx==3.4.2
ninja==1.11.1.3
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
omegaconf==2.3.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.11
ordered-set==4.1.0
orderly-set==5.3.0
oss2==2.17.0
packaging==24.2
pandas==2.2.3
partd==1.4.2
pfzy==0.3.4
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
posetrack21 @ file:///Users/ramnair/soccernet/tracklab/plugins/eval/PoseTrack21/posetrack21
posetrack21-mot @ file:///Users/ramnair/soccernet/tracklab/plugins/eval/PoseTrack21/posetrack21_mot
poseval @ git+https://github.com/TrackingLaboratory/poseval@0df5b1d1653e9f4dfb64f3a8a5f36375792e5d21
prices==1.1.1
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==5.29.3
prtreid @ git+https://github.com/VlSomers/prtreid@eef6ee60dab1c80c59c0c46caabd41ffc36d8560
psutil==6.1.1
pyclipper==1.3.0.post6
pycocoevalcap==1.2
pycocotools==2.0.8
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pyflakes==3.2.0
Pygments==2.19.1
pynndescent==0.5.13
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.4
python-bidi==0.6.3
python-dateutil==2.9.0.post0
pytorch-lightning==2.2.5
pytz==2023.4
PyWavelets==1.8.0
PyYAML==6.0.2
RapidFuzz==3.12.1
requests==2.32.3
rich==13.4.2
s3transfer==0.11.2
safetensors==0.5.2
scikit-image==0.25.1
scikit-learn==1.6.1
scikit-video==1.1.11
scipy==1.15.1
seaborn==0.13.2
sentry-sdk==2.21.0
setproctitle==1.3.4
shapely==2.0.7
simsimd==6.2.1
six==1.17.0
smmap==5.0.2
# Editable install with no version control (sn-gamestate==0.2.0)
-e /Users/ramnair/soccernet/sn-gamestate
sn-trackeval==0.4.0
snowballstemmer==2.2.0
SoccerNet==0.1.62
soupsieve==2.6
sparse==0.15.5
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stringzilla==3.11.3
sympy==1.13.1
tabulate==0.9.0
tb-nightly==2.19.0a20250212
tensorboard-data-server==0.7.2
termcolor==2.5.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.1.10
timm==0.9.16
tomli==2.2.1
toolz==1.0.0
torch==1.13.1
torchmetrics==0.10.3
torchreid @ git+https://github.com/VlSomers/bpbreid@02570d5c893977685de7a547a58c0aa87fa4788c
torchvision==0.14.1
tqdm==4.65.2
track-bench-track @ file:///Users/ramnair/soccernet/tracklab/plugins/track
# Editable install with no version control (tracklab==1.1.2)
-e /Users/ramnair/soccernet/tracklab
tracklab-calibration @ file:///Users/ramnair/soccernet/sn-gamestate/plugins/calibration
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.0.100
umap-learn==0.5.7
urllib3==1.26.20
wandb==0.19.6
wcwidth==0.2.13
Werkzeug==3.1.3
xmltodict==0.14.2
xtcocotools==1.14.3
yacs==0.1.8
yapf==0.43.0
yarl==1.18.3
yt-dlp==2025.1.26
zipp==3.21.0
